[submodule "clients/php-simple"]
	path = clients/php-simple
	url = https://github.com/reilag/kuna-api-php-simple
[submodule "clients/java"]
	path = clients/java
	url = https://github.com/vladmelnyk/kuna-api-java
[submodule "clients/php"]
	path = clients/php
	url = https://github.com/reilag/kuna-api-php
[submodule "clients/swift"]
	path = clients/swift
	url = https://github.com/OlegGordiichuk/kuna-sdk
